body { background-color: #282d3f; }
button, h1 { font-family: arcadeFont; color: white; }

form, h1 {
	text-align:center;
	width:50%;
	margin:0 auto;
}

button {
	background-color: #03ad80;
	padding: 14px 20px;
	margin: 6px 0;
	cursor: pointer;
	width: 100%;
	border: 3px solid white;
	border-radius: 7px;   
}
button:hover { opacity: 0.8; }
.container { padding: 16px; }

@font-face {
	font-family: arcadeFont;
	src: url("../resources/fonts/Quantico-Regular.ttf");
}
