body { background-color: #282d3f; }
label, button, form, h1, p, input, option { font-family: arcadeFont; }
label, button, h1, p, option { color: white; }
form, h1, p {
	text-align:center;
	width:50%;
	margin:0 auto;
}
label { width: 5%; }
textarea { text-align:center; width: 90%; margin:0 auto;}

input {
	width: 100%;
	padding: 14px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 3px solid #ccc;
	border-radius: 7px;   
	box-sizing: border-box;
}

button {
	background-color: #03ad80;
	padding: 14px 20px;
	margin: 6px 0;
	cursor: pointer;
	width: 100%;
	border: 3px solid white;
	border-radius: 7px;   
}
button:hover { opacity: 0.8; }


.facebook_button {
	background: #627aac url("../resources/images/facebook_small.png") no-repeat;
	border: none;
	background-size: 52px 52px;
	padding-right: 7px;
	padding-left: 29px;
	line-height: 22px;
}

textarea {
	padding: 12px 20px;
	background-color: #037557;
	color: white;
	border: 3px solid white;
	border-radius: 7px;   
}

@font-face {
	font-family: arcadeFont;
	src: url("../resources/fonts/Quantico-Regular.ttf");
}
