body { background-color: #282d3f; }
label, button, form, h1, input, option { font-family: arcadeFont; }
label, button, h1, option { color: white; }
form, h1 {
	text-align:center;
	width:50%;
	margin:0 auto;
}
label { width: 5%; }

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 3px solid #ccc;
	box-sizing: border-box;
}

button {
	background-color: #03ad80;
	padding: 14px 20px;
	margin: 6px 0;
	cursor: pointer;
	width: 100%;
	border: 3px solid white;
	border-radius: 7px;   
}

button:hover { opacity: 0.8; }

.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #03ad80;
}

textarea {
	padding: 12px 20px;
	background-color: #037557;
	color: white;
	border: 3px solid white;
	border-radius: 7px;   
}

@media screen and (max-width: 300px) { .cancelbtn { width: 100%; } }
@font-face {
	font-family: arcadeFont;
	src: url("../resources/fonts/Quantico-Regular.ttf");
}
